html{
	font-size: 40px;
	font-family:"Open Sans",sans-serif;
	background-color:#f1ffc5;
}

header{
  align-items: center;
  height: 100%;
  width:100%;
  margin: 0 auto;
  padding:0;
  background-color:rgb(217, 255, 214);

}

header img{
  display: block;
	width: 50%;
	margin: 0 auto;
}

.logo h1{
  display: flex;
  width: 100%;
  height: 100%;  
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  color: rgb(42, 53, 54);
	text-shadow: 4px 4px 1px #7e94bd;
}

body{
	width: 100%;
	margin: 0 auto;
	background-color: #f1ffc5;
	padding: 0 auto;
	
}

.logo h2{
  display: flex;
  width: 100%;
  height: 100%;  
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  color: rgb(122, 128, 128);
}

.logo h4{
  display: flex;
  width: 100%;
  height: 100%;  
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  color: rgb(16, 8, 252);
}

.tr img{
    width: 70%;
    margin: 0 auto;

}

label{
  margin: 1em 2em;
  font-size: 16px;
}



.button_solid001 a {
  border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.button_solid001 a:hover {
  background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}
.sub h4{
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 1 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(217, 255, 214);
}

.break {
  word-break: break-all;
}

h3{
  margin: 1em 1em;
	color: rgb(88, 162, 168);
	width:900px;
}

a{
  margin: 1em 2em;
  font-size:16px;
}

p {
  margin: 1em 6em;
	font-size:16px;
	line-height: 2;
	letter-spacing: 1px;
  overflow-wrap: break-word;
}

.nini p{
  color:#f1ffc5;
}



.mission p{
  padding: 1em;
 background-color: #e3f6f5;
 border-left: 10px solid #8903ff;
 font-weight: bold;
}

.audio{
  margin: 1em 2em;
}

footer{
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  margin: 0 auto;
  padding: 0;
  background-color:rgb(217, 255, 214);
}




@media screen and ( max-width:640px )
{
	
  header img{
    width: 70%;
  }

  .logo h1{
    font-size: 40px;
  }

  .logo h2{
    font-size: 25px;
  }

  .logo h4{
    font-size: 20px;
  }

  body{
      font-size: 98%;
  }

  .button_solid001 a {
    margin: 40px 100px 0px;
  }

  h3{
    margin: 1em;
    font-size: 20px;
    width:300px;
  }

  p {
    margin: 1em;
    font-size:16px;
  }

  .tr img{
    width: 90%;

  }
}


